<h2>Paypal Test</h2>

client_id: <%= Paypal::CLIENT_ID %><br/>
secret: <%= Paypal::SECRET %><br/>
paypal_host: <%= Paypal::PAYPAL_HOST %><br/>
app_host: <%= Paypal::APP_HOST %><br/>

test_url: <%= test_url %>
