<div class="container post-container">
  <div class="post-organization">
    <%= link_to @post.organization.name, @post.organization %>
  </div>
  <div class="post-title">
    <%= @post['title'] %>
  </div>
  <div class="post-date">
    <span title="<%= @post['date'].strftime("%c") %>"><%= time_ago_in_words(@post['date']) %> ago</span>
  </div>
  <div class="post-message">
    <%= @post['message'].html_safe %>
  </div>
  <div class="post-video">
    <iframe width="560" height="315" src="<%= embed_url(@post['video_url']) %>" frameborder="0" allowfullscreen class="video1">
    </iframe>
  </div>
  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
  <%= render 'donate_button' %>
  <div class="post-actions">
    <%= link_to 'edit', edit_post_path(@post['id']) %> 
    &nbsp;
    <%= link_to 'delete', post_path(@post), :method => :delete, data: { confirm: "Are you sure?" } %>  
  </div>
</div>
