<div class="container">
  <%= render :partial => "shared/form_error", :locals => { :resource => @organization } %>
  <%= form_for @organization, :html => { :id => "organization-form"} do |f| %>
    <%= f.label "Name" %><br/>
    <%= f.text_field :name, :size => "50" %><br/>
    <%= f.label "Description" %><br/>
    <%= f.text_field :description, :size => "100" %><br/>
    <%= f.label "Address 1" %><br/>
    <%= f.text_field :address1, :size => "50" %><br/>
    <%= f.label "Address 2" %><br/>
    <%= f.text_field :address2, :size => "50" %><br/>
    <%= f.label "Zip" %><br/>
    <%= f.text_field :zip, :size => "50" %><br/>
    <%= f.label "City" %><br/>
    <%= f.text_field :city, :size => "50" %><br/>
    <%= f.label "Email" %><br/>
    <%= f.text_field :email, :size => "50" %><br/>
    <%= f.label "Tax ID" %><br/>
    <%= f.text_field :tax_id, :size => "20" %><br/>
    <%= f.label "Site URL" %><br/>
    <%= f.text_field :site_url, :size => "50" %><br/>
    <%= f.label "Donation URL" %><br/>
    <%= f.text_field :donation_url, :size => "50" %><br/>
    <%= f.submit "Submit", :class => "btn-primary btn-lg form-button" %>
  <% end %>
</div>
