<%= render :partial => "shared/form_error", :locals => { :resource => @organization } %>
<%= form_for @organization, :html => { :id => "organization-form"} do |f| %>
  <div>
    <%= f.label "Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "Description" %>
    <%= f.text_field :description %>
  </div>  
  <div>
    <%= f.label "Address 1" %>
    <%= f.text_field :address1 %>
  </div>
  <div>
    <%= f.label "Address 2" %>
    <%= f.text_field :address2 %>
  </div>  
  <div>
    <%= f.label "Zip" %>
    <%= f.text_field :zip %>
  </div>
  <div>
    <%= f.label "City" %>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label "Email" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label "Tax ID" %>
    <%= f.text_field :tax_id %>
  </div>
  <div>
    <%= f.label "Site URL" %>
    <%= f.text_field :site_url %>
  </div>  
  <div>
    <%= f.label "Donation URL" %>
    <%= f.text_field :donation_url %>
  </div>
  <%= f.submit "Submit", :class => "button "%>
<% end %>
